/* @font-face {
	font-family: ""; 
	src: local("Font Name"),
		url(); 
} */
@font-face {
	font-family: "Etelka Medium Pro"; 
	src: local("Font Name"),
		url(../font/EtelkaMediumPro.ttf); 
}
@font-face {
	font-family: "Montserrat-Bold"; 
	src: local("Font Name"),
		url(../font/Montserrat-Bold.ttf); 
}
@font-face {
	font-family: "Montserrat-Regular"; 
	src: local("Font Name"),
		url(../font/Montserrat-Regular.ttf); 
} 
body {
    background-color: #fcffed;
}
.menu .nav {
    background-image: url("../image/main-menu.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 100%;
    background-size: 50%;
    padding: 25px;
    z-index: 10;
}
.menu {
    background-image: url("../image/main-bg.png");
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -65px;
}
a.nav-link {
    color: #ffffff;
    font-family: "Etelka Medium Pro";
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2.71px;
}
.menu .logo {
    margin: 220px 0px 0px 200px;
}
.menu .logo img {
    margin-left: 20px;
}
.menu .logo h1 {
    width: 475px;
    height: 83px;
    color: #8db742;
    font-family: "Montserrat-Bold";
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.menu .icon {
    background-image: url(../image/main-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 730px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.menu .icon button {
    width: 240px;
    height: 46px;
    border: none;
    border-radius: 22px;
    background-color: #e2752d;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Montserrat-Bold";
    text-transform: lowercase;
    margin-top: 450px;
    margin-right: 230px;
}
.carousel-control-prev-icon {
    background-image: url(../image/arrow-left.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    margin-top: 40px;
}
.carousel-item img {
    /* width: 100%; */
}
.carousel-control-next-icon {
    background-image: url(../image/arrow-right.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    margin-top: 40px;
}
.carousel-indicators {
    bottom: -90px;
}
.carousel-indicators li {
    width: 17px;
    height: 17px;
    border: 1px solid #b1e653;
    background-color: #ffffff;
    border-radius: 100%;
}
.carousel-indicators .active {
    background-color: #b0e452;
}
#carousel-mask {
    background-color:#fcffed;
    height: 410px;
}
.mask-slid {
    padding: 0px 15px 0px 15px;
}
.mask-slid img.mask-slid-inner-new {
    margin-top: 15px;
}
.mask-slid img.mask-slid-inner-mask-img {
    margin-top: 55px;
}
.mask-slid img.mask-slid-inner-logo-l {
    margin-top: 85px;
    padding-left: 100%;
}
.mask-slid .mask-slid-inner-text {
    width: 450px;
    height: 125px;
    color: #4e7252;
    font-family: "Montserrat-Bold";
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    text-align: end;
    margin-left: 100%;
}
.mask-slid .mask-slid-inner-price {
    width: 207px;
    height: 34px;
    color: #e2752d;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    font-weight: 700;
}
.about {
    height: 790px;
    background-image: linear-gradient(-236deg, #85ac3e 0%, #365f3b 100%);
    margin-top: 90px;
}
.about h1 {
    color: #ffffff;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 70px 0px 70px 0px;
}
.about .box {
    text-align: center;
    float: left;
    padding: 0px 205px 101px;
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    font-weight: 400;
    height: 305px;
}
.about .box img {
    padding: 0px 20px 31px;
}
.title-form {
    width: 520px;
    height: 125px;
    color: #4e7252;
    font-family: "Montserrat-Bold";
    font-size: 40px;
    font-weight: 700;
    margin-top: 110px;
}
form input {
    width: 370px;
    height: 61px;
    border-radius: 31px;
    border: 1px solid #b0e452;
    background-color: #ffffff;
    margin: 10px;
    
}
form input::placeholder {
    color: #c0f95a;
    font-family: "Montserrat-Regular";
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
    transform: translateY(-7px) ;
}
form span {
    color: #4e7252;
    font-family: "Montserrat-Regular";
    font-size: 18px;
    font-weight: 400;
}
form button {
    width: 202px;
    height: 61px;
    border-radius: 31px;
    background-color: #e2752d;
    border: none;
    color: #ffffff;
    font-family: "Montserrat-Bold";
    font-size: 17px;
    font-weight: 700;
}
form small {
    color: #4e7252;
    font-family: "Montserrat-Regular";
    font-size: 12px;
    font-weight: 400;
    text-align: end;
    width: 390px;
    margin-top: 20px;
}
h2.title {
    color: #4e7252;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.catalog {
    margin-top: 100px;
}
.catalog .nav.nav-tabs a {
    position: absolute;
    width: 95%;
    height: 101%;
    border-radius: 25px;
    top: -1px;
}
a.nav-link:hover {
    opacity: 0.7;
}
.catalog h2.title {
    padding-bottom: 32px;
}
.catalog .catalog-box {
    width: 270px;
    height: 316px;
    border-radius: 28px;
    background-image: linear-gradient(-229deg, #82a93e 0%, #365f3b 100%);
}
.catalog .catalog-box img {
    margin: auto;
    display: block;
    padding-top: 40px;
    height: 167px;
}
#catalog-protect-cloth .sale-box img {
    height: 250px;
    width: 170px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active  {
    z-index: 20;
    background-color: #44671d;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    transition: .5s;
}
.catalog .catalog-box h3 {
    text-align: center;
    margin-top: 31px;
    color: #ffffff;
    font-family: "Montserrat-Bold";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.catalog span {
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-size: 18px;
    font-weight: 400;
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}
.catalog span::after {
    content: "";
    background-image: url(../image/catalog-arrow.png);
    height: 25px;
    width: 79px;
    display: block;
    background-repeat: no-repeat;
    float: right;
    margin-top: 7px;
    margin-left: 8px;
}
.sale .tab-content {
    width: 100% !important;
}
.sale .tab-content .col-3 {
    float: left;
}
.sale h2.sale-title {
    color: #4e7252;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 65px 0px 25px;
}
.sale .sale-box {
    text-align: center;
    float: left;
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    font-weight: 400;
    height: 510px;
    border: 1px solid #406743;
    border-radius: 28px;
    width: 100%;
    overflow: hidden;
    margin: 15px 0px;
}
.sale .sale-box .item_text {
    display: none;
}
.sale .sale-box .sale-item {
    background-image: linear-gradient(-229deg, #82a93e 0%, #365f3b 100%);
    height: 310px;
}
.sale .sale-box img {
    display: block;
    margin: auto;
    padding: 30px;
    background-color:#fcffed;
    width: 100%;
    border-radius: 28px 28px 0px 0px;
}
.sale .sale-box .sale-item-title {
    color: #ffffff;
    font-family: "Montserrat-Bold";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 30px;
}
.sale .sale-box .sale-item-count {
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    font-weight: 400;
}
.sale .sale-box .sale-item-count span {
    font-family: "Montserrat-Bold";
    font-weight: 700;
}
.sale .sale-box .sale-item-price {
    text-align: left;
    padding: 20px 50px;
}
.sale .sale-box .sale-item-new-price {
    color: #ffffff;
    font-family: "Montserrat-Bold";
    font-size: 16px;
    font-weight: 700;
    padding-right: 15px;
}
.sale .sale-box .sale-item-old-price {
    color: #e1e1e1;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}
.sale .sale-box .sale-item button {
    width: 148px;
    height: 42px;
    border-radius: 21px;
    background-color: #e2752d;
    color: #ffffff;
    font-family: "Montserrat-Bold";
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.owl-dots {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Сам маркер
  Здесь body в начале, чтобы заменить стили, которые указаны в самом плагине */
  .carousel-3 .owl-carousel button.owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: blue;
    margin: 0 3px;
  }
  
  /* Активный маркер */
  .carousel-3 .owl-carousel button.owl-dot.active {
    background: orange;
  }
.certificate-title {
    color: #4e7252;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 150px;
    margin-bottom: -50px;
}
.owl-item.active.center {
    transform: scale(0.7) !important;
    opacity: 1;
}
.owl-item, .owl-item.active {
    transform: scale(0.4) !important;
    transition: .5s;
    opacity: 0.47;
}
.owl-prev {
    position: relative;
    bottom: 450px;
    left: 150px;
}
.owl-next {
    position: relative;
    right: 150px;
    float: right;
    bottom: 450px;
}
.contact {
    background-image: linear-gradient(53deg, #365f3b 0%, #85ac3e 100%);
}
.contact .contact-title {
    color: #ffffff;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0px;
}
.contact h3.contact-adds {
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-size: 25px;
    font-weight: 400;
    line-height: 42px;
    width: 550px;
    text-align: center;
    margin: 75px auto;
}
footer span {
    color: #365f3b;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    margin-left: 150px;
}
#modal-buy, #modal-buy2 {
    display: none;
    position: fixed;
    margin-right: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal-buy-box {
    height: 640px;
    width: 1200px;
    background-color: #fcffed;
    z-index: 500;
    border-radius: 20px;
}
#modal-buy2 {
    width: 696px;
    height: 524px;
    border-radius: 14px;
    border: 2px solid #8db742;
    background-color:#fcffed;
}
#popup:target {
    display: block;
}
#popup:target + #modal-buy {
    z-index: 500;
    display: block;
}
#popup2:target {
    display: block;
}
#popup2:target + #modal-buy2 {
    z-index: 500;
    display: block;
}
#popup, #popup2 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000d1;
    display: none;
}
.modal-buy2-title {
    color: #365f3b;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-top: 50px;
}
#modal-buy2 .number input {
    width: 52px;
    height: 29px;
    border-radius: 15px;
    border: 1px solid #b0e452;
    background-color: #ffffff;
    text-align: center;
}
#modal-buy2 .number {
    color: #365f3b;
    font-family: "Montserrat-Regular";
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
}
#modal-buy2 input.forms {
    width: 370px;
    height: 61px;
    border-radius: 31px;
    border: 1px solid #b0e452;
    background-color: #ffffff;
    display: block;
    margin: 20px auto;
}
#modal-buy2 input.forms::placeholder {
    color: #c0f95a;
    font-family: "Montserrat-Regular";
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
}
#modal-buy2 .number .minus,
#modal-buy2 .number .plus {
    width: 27px;
    height: 16px;
    border: 1px solid #b0e452;
    border-radius: 10px;
    text-align: center;
    color: #b0e452;
    padding: 0px 10px;
}
#modal-buy2 .number .minus:hover,
#modal-buy2 .number .plus:hover {
    cursor: pointer;
}
#modal-buy2 button {
    width: 202px;
    height: 61px;
    border-radius: 31px;
    background-color: #e2752d;
    color: #ffffff;
    font-family: "Montserrat-Bold";
    font-size: 17px;
    font-weight: 700;
    border: none;
    margin-left: 47%;
    display: block;
}
#modal-buy .modal-buy-title {
    color: #365f3b;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 69px;
}
#modal-buy .modal-buy-price {
    margin-top: 25px;
}
#modal-buy .modal-buy-price .modal-buy-new-price {
    color: #e2752d;
    font-family: "Montserrat-Bold";
    font-size: 24px;
    font-weight: 700;
    float: left;
}
#modal-buy .modal-buy-price .modal-buy-old-price {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 100px;
    font-size: 24px;
    color: #a2a2a2;
}
#modal-buy button {
    width: 202px;
    height: 44px;
    border-radius: 22px;
    background-color: #e2752d;
    color: #ffffff;
    font-family: "Montserrat-Bold";
    border: none;
    margin-top: 45px;
}
#modal-buy .item_text {
    color: #365f3b;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 20px;
}
#modal-buy .item_text .item_desc_title,
#modal-buy .item_text .options {
    font-family: "Montserrat-Bold";
    font-weight: 700;
}
#modal-buy img {
    margin: auto;
    display: block;
    vertical-align: middle;
    max-height: 640px;
    max-width: 575px;
}
@media screen and (max-width: 1366px) {
.menu .nav {
    background-size: auto;
}
a.nav-link {
    font-size: 12px;
}
.menu .icon {
    background-size: auto;
    height: 550px;
    width: 550px;
}
.menu {
    height: 485px;
}
.menu .icon button {
    margin-top: 345px;
    margin-right: 130px;
}
.menu .logo img {
    margin-left: 20px;
    margin-top: -72px;
}
.about .box {
    padding: 0px 105px 100px;
}
.glove-form img {
    margin: -160px -15px 0px 0px !important;
}
.mask-form img {
    margin: 50px -180px 0px -20px !important;
}
.glass-form img {
    margin: -240px 0px 0px 0px !important;
}

}

